@use "./base.scss";

.page {
  max-width: 700px;

  & > #quartz-body {
    display: block;

    & .sidebar.left {
      position: initial;
      height: unset;
      padding: 2rem 0 0 0;
      flex-direction: row;
      align-items: center;
      width: 100%;

      & > .flex-component {
        margin-left: auto;
      }
    }

    & .sidebar.right {
      display: none;
    }

    & .center {
      margin: 0 auto;
      padding: 1rem 0 2rem 0;
    }
  }
}

.page-title {
  font-size: 1.1rem;
}

.about-link {
  font-size: 0.95rem;
  font-weight: 400;
  color: #6f6e69;

  &:hover {
    color: var(--link-hover);
  }
}

:root[saved-theme="dark"] .about-link {
  color: #7e7c77;

  &:hover {
    color: var(--link-hover);
  }
}

footer {
  opacity: 0.6;
  font-size: 0.85rem;
}

:root {
  --link-hover: #24837b;
}

:root[saved-theme="dark"] {
  --link-hover: #3aa99f;
}

a {
  color: var(--darkgray);
  transition: color 0.15s ease;

  &:hover {
    color: var(--link-hover);
  }
}

article a.internal {
  background-color: transparent;
  color: var(--darkgray);
  text-decoration: underline;
  text-decoration-color: var(--lightgray);
  text-underline-offset: 3px;

  &:hover {
    color: var(--link-hover);
  }
}

article > h1 > a[role="anchor"],
article > h2 > a[role="anchor"],
article > h3 > a[role="anchor"],
article > h4 > a[role="anchor"],
article > h5 > a[role="anchor"],
article > h6 > a[role="anchor"] {
  transition: color 0.15s ease;

  &:hover {
    color: var(--link-hover);
  }
}

.darkmode {
  @media (prefers-reduced-motion: no-preference) {
    & svg {
      transition:
        fill 0.15s ease,
        opacity 0.1s ease;
    }
  }

  &:hover svg {
    fill: var(--link-hover);
  }
}

::selection {
  background: #eaf2e6;
}

:root[saved-theme="dark"] ::selection {
  background: #142726;
}
